<app-dashboard-card>

  <div class="dashboard-title">
    Pending Tasks
  </div>

  <div class="task-list">

    <div class="task-item urgent">
      <div>
        <h4>Booklet Printing</h4>
        <p>Due Today</p>
      </div>

     <app-status-badge
  label="Urgent"
  type="danger">
</app-status-badge>
    </div>

    <div class="task-item">
      <div>
        <h4>Business Cards</h4>
        <p>Binding Pending</p>
      </div>

      <span>Pending</span>
    </div>

    <div class="task-item">
      <div>
        <h4>Flyer Order</h4>
        <p>Waiting for Lamination</p>
      </div>

      <span>Active</span>
    </div>

  </div>

</app-dashboard-card>