.machine-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.machine-item {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.machine-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.machine-header h4 {
  margin: 0;

  font-size: 0.95rem;
  font-weight: 600;

  color: #1e293b;
}

.machine-header span {
  font-size: 0.85rem;

  font-weight: 600;

  color: #64748b;
}